*.pyc
**.pyc

*.log
**.log

*.tsv
**.tsv

*.csv
**.csv

*.dot
**.dot

*.pickle
**.pickle

*.png
**.png

*.pdf
**.pdf

*.txt
**.txt

*.aux
**.aux

*.zip
**.zip

*.gz
**.gz

*.class
**.class

*.project
**.project

*.pydevproject
**.pydevproject

/.DS_Store
/subsection_extraction.log
/notebooks/

data/idf_model/docfreq_targets.tsv.gz
